@import url('"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');

$color-dark-grey: #323540;
$color-blue-grey: #5F657B;
$color-backed-yellow: #D89F5F;
$color-green-gold: #B7A968;
$color-light-grey: #F5F5F0;

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
i,
a

{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

// TODO:
// ADD SPACING RULES
// ADD FONT WEIGHTS
// ADD FONT SIZES
